<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <ul>
        <% for (let i = 0; i < response.quotes.length; i++) { %>
            <li><%= response.quotes[i].quote %> - <%= response.quotes[i].author %></li>
        <%}%>
    </ul>
</body>
</html>